<!DOCTYPE html>
<html lang="en">
<head>
    <title>A1 Croatia – Mobile Plans & Prices</title>
    {% include 'head.html' %}
</head>
<body>
    <main class="container">

        <!-- NAVIGATION -->
        {% include 'header.html'%}

        <!-- TITLE / DESCRIPTION -->
        <section class="text-center my-4">
            <h1 class="page-title">A1 Croatia</h1>
            <p class="lead">
                A1 is a major mobile operator in Croatia and part of the A1 Telekom Austria Group.
                Their services start with the number 091.
            </p>
        </section>

        <!-- LAST UPDATE -->
        {% include 'last_update.html' %}

        <!-- TABLE -->
        {% include 'table.html' %}

        <!-- FOOTER -->
        {% include 'footer.html' %}
    </main>
    <!-- ALL SCRIPTS INCLUDED (BOOTSTRAP AND JAVASCRIPT) -->
    {% include 'scripts.html' %}
</body>
</html>
