<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bonbon Croatia – Mobile Plans & Prices</title>
    {% include 'head.html' %}
</head>
<body>
<main class="container">

    <!-- NAVIGATION -->
    {% include 'header.html'%}

    <!-- TITLE / DESCRIPTION -->
    <section class="text-center my-4">
        <h1 class="page-title">Bonbon Croatia</h1>
        <p class="lead">
            Bonbon is a mobile virtual brand of Hrvatski Telekom (HT), using its network.
            Services start with the number 097.
        </p>
    </section>

    <!-- LAST UPDATE -->
    {% include 'last_update.html' %}

    <!-- TABLE -->
    {% include 'table.html' %}

    <!-- FOOTER -->
    {% include 'footer.html' %}
</main>
    <!-- ALL SCRIPTS INCLUDED (BOOTSTRAP AND JAVASCRIPT) -->
    {% include 'scripts.html' %}
</body>
</html>
