<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    {% include 'head.html' %}
</head>

<body class="d-flex flex-column min-vh-100">

    <!-- PAGE CONTENT -->
    <main class="container flex-grow-1">
        <!-- NAVIGATION -->
        {% include 'header.html' %}

        <!-- PAGE TITLE -->
        <section class="text-center my-4">
            <h1 class="page-title">Contact</h1>
            <p class="lead">
                Feel free to reach out if you have questions or suggestions regarding this project.
            </p>
        </section>

        <!-- CONTACT INFO -->
        <section class="my-5">
            <h4>GitHub</h4>
            <p>Contact me via <a href="https://github.com/ana-d-dev" target="_blank">GitHub</a></p>
        </section>

        <section class="my-5">
            <h4>Project Feedback</h4>
            <p>
                If you notice missing data or errors in the mobile plan comparison, you can send me a message via github.
            </p>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="mt-auto">
        <div class="container">
            {% include 'footer.html' %}
        </div>
    </footer>

</body>
</html>
