<!DOCTYPE html>
<html lang="en">
<head>
    <title>T-COM – Mobile Plans & Prices</title>
    {% include 'head.html' %}
</head>
<body>
<main class="container">

    <!-- NAVIGATION -->
    {% include 'header.html'%}

    <!-- TITLE / DESCRIPTION -->
    <section class="text-center my-4">
        <h1 class="page-title">T-COM</h1>
        <p class="lead">
            T-COM, part of Hrvatski Telekom, provides fixed telephony, broadband internet, and television services.
            Service numbers start with 098 and 099.
        </p>
    </section>

    <!-- LAST UPDATE -->
    {% include 'last_update.html' %}

    <!-- TABLE -->
    {% include 'table.html' %}
</main>

    <!-- FOOTER -->
    <footer class="mt-auto">
        <div class="container">
            {% include 'footer.html' %}
        </div>
    </footer>

    <!-- ALL SCRIPTS INCLUDED (BOOTSTRAP AND JAVASCRIPT) -->
    {% include 'scripts.html' %}
</body>
</html>
