<!DOCTYPE html>
<html lang="en">
<head>
    <title>Telemach Croatia – Mobile Plans & Prices</title>
    {% include 'head.html' %}
</head>
<body>
<main class="container">

    <!-- NAVIGATION -->
    {% include 'header.html'%}

    <!-- TITLE / DESCRIPTION -->
    <section class="text-center my-4">
        <h1 class="page-title">Telemach Croatia</h1>
        <p class="lead">
            Telemach is a private mobile operator in Croatia, part of the United Group and legal successor to Tele2.
            Services start with the number 095.
        </p>
    </section>

    <!-- LAST UPDATE -->
    {% include 'last_update.html' %}

    <!-- TABLE -->
    {% include 'table.html' %}
    </main>

    <!-- FOOTER -->
    <footer class="mt-auto">
        <div class="container">
            {% include 'footer.html' %}
        </div>
    </footer>

    <!-- ALL SCRIPTS INCLUDED (BOOTSTRAP AND JAVASCRIPT) -->
    {% include 'scripts.html' %}
</body>
</html>
