<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unavailable data</title>
    {% include 'head.html' %}
</head>
<body>
    <main class="container">

        <!-- NAVIGATION -->
        {% include 'header.html'%}

        <!-- TITLE / DESCRIPTION -->
        <section class="text-center my-4">
            <h1 class="page-title">Unavailable data</h1>
            <p class="lead">
                Data for this provider is temporarily unavailable due to technical restrictions.
                Please check back later.
            </p>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="mt-auto">
        <div class="container">
            {% include 'footer.html' %}
        </div>
    </footer>

    <!-- ALL SCRIPTS INCLUDED (BOOTSTRAP AND JAVASCRIPT) -->
    {% include 'scripts.html' %}

</body>
</html>